<%= content_tag :div, id: "comment-#{comment.id}" do %>
  <div class="row">
    <div class="span1">
      <%= image_tag(comment.user.avatar.medium.url, class: "img-polaroid pull-left") if comment.user.avatar? %>
    </div>
    <div class="span7">
      <div class="well">
        <h5 class="pull-left"><%= comment.user.name %></h5>
        <% if can? :destroy, comment %>
          <%= link_to 'X', comment_url_helper(comment),class: 'close pull-right', method: :delete, remote: true %>
        <% end %>
        <div class="row"><p class="span6"><%=comment.body%></p></div>
      </div>
    </div>
  </div>
<% end %>
